@import url(normalize.css);

@font-face {
  font-family: "Helvetica Regular", sans-serif;
  src: url("../fonts/Helvetica-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica Bold", sans-serif;
  src: url("../fonts/Helvetica-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Inter Bold", sans-serif;
  src: url("../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

html {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
html,
body {
  font-family: "Helvetica Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #5c5c5e;
}
